@{
    ViewBag.Title = "Avaleht";
}

<div class="jumbotron">
    <h1>@ViewBag.Greeting</h1>
</div>

<div class="row">
</div>
<div>
    <img src="~/Images/main.jpg" alt="Alternate Text" />
</div>
<div>
    Meist
    Me pakume mitmekesiseid hariduskursusi lastele ja täiskasvanutele üle Eesti. Meie eesmärk on innustada ja arendada läbi hariduse, pakkudes kvaliteetseid kursusi kogenud õpetajate juhendamisel.

    Meie kursused
    Meie veebisaidilt leiate laia valiku kursusi, alates keeltest ja kunstidest kuni loodusteaduste ja IT-ni. Iga kursus on loodud arvestades õpilaste vajadusi ja huvisid, tagamaks maksimaalse õppeefektiivsuse.

    Kuidas see toimib
    Valige kursus: Tutvuge meie pakkumistega ja valige endale või oma lapsele sobiv kursus.
    Registreerimine: Registreeruge valitud kursusele mugavalt otse veebisaidil.
    Õppimine ja arendamine: Saage teadmisi ja oskusi meie kvalifitseeritud õpetajatelt, nautides õppeprotsessi.
    Miks valida meid?
    Kogenud õpetajad: Meie õpetajad on oma valdkonna eksperdid, valmis jagama teadmisi ja kogemusi.
    Individuaalne lähenemine: Me arvestame igat õpilast, luues õppekavasid, mis innustavad ja arendavad.
    Mugavus ja kättesaadavus: Kursustele registreerumine on lihtne ja kiire, tehes protsessi meie klientidele mugavaks.
    Võtke meiega ühendust
    Alustage oma hariduslikku teekonda koos meiega! Kui teil on küsimusi või vajate abi, võtke julgelt ühendust meie kontaktivormi või telefoni teel.

    Liituge meiega
    Liituge meie õppivate kogukonnaga, kes on kursis uusimate teadmiste ja saavutustega ning püüab uute teadmiste poole!


</div>